body {
  font-family: "Noto Sans JP", sans-serif;
  color: #7F5539;
}
a {
  text-decoration: none;
  color: inherit;
}
input.form-control::placeholder {
  color: #ccc;
  opacity: .3;
}
.headerLogoArea {
  background-color: #EDE0D4;
}
.headerSearchArea {
  background-color: #B392AC;
}
section.shopInfo img {
  height: 568px;
}
img.searchIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.serchImgArea {
  position: relative;
  top: 0;
  left: 0;
}
.search {
  margin-right: 0;
  height: 40px;
  width: 320px;
  background-color: white;
}
h2 {
  display: inline-block;
  padding-bottom: 12px;
  border-bottom: 2px solid #FFD233;
  color: #000;
  font-size: clamp(20px, 6vw, 32px);
}
.detailName {
  font-weight: bold;
}
.detailText, .cartText {
  border-bottom: 1px solid #E6CCB2;
  border-top: 1px solid #E6CCB2;
}
.rankDetail ul {
  padding: 0;
}
ul.footerNav {
  padding: 12px;
}
ul.footerNav li {
  color: #7F5539;
  position: relative;
}
ul.footerNav li::before {
  content: "";
  display: inline-block;
  border-left: 2px solid #B392AC;
  height: 40px;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translate(0, -50%);
}
.confirmBox {
  border-bottom: 2px solid #ccc;
}
.confirmP {
  color: #000;
}
footer {
  background-color: #EDE0D4;
}
.design {
  border-top: 1px solid #7F5539;
}
.footerEnd {
  color: #7F5539;
  font-size: 12px;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  img.icon {
    width: 70%;
  }
  img.iconLogo {
    width: 64px;
  }
  .headerSearchArea {
    background-color: #EDE0D4;
  }
  .confirmP {
    border-left: 2px solid #7F5539;
    padding-left: 8px;
  }
  ul.footerNav li::before {
    height: 20px;
  }
  .footerEnd {
    font-size: 10px;
    margin: 12px 0;
  }
}
